@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Mont';
    src: url('../fonts/logo_font_heavy.woff') format('woff'),
         url('../fonts/logo_font_heavy.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/logo_font.woff') format('woff'),
         url('../fonts/logo_font.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

/* SCROLLBAR */

    /* width */
    ::-webkit-scrollbar {
        width: 15px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #000;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #222;
        border-radius: 20px;
        border: #000 4px solid;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        border: #000 3px solid;
    }

/* MAIN */

    * {
        margin: 0;
        padding: 0;
        border-width: 0;
    }

    *::selection {
        background-color: #ff531a;
    }

    article, aside, figcaption, figure, footer, header, main, nav, section {
        display: block;
    }

    html {
        background-color: #000;
    }

    body {
    }

    h1 {
        color: #fff;
        font-family: 'Oswald';
        font-size: 30px;
    }

    p {
        color: #fff;
        font-family: 'Josefin Sans';
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 150%;
        font-size: 20px;
    }

/* CONTAINER */

    #page01_background {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }

    #page01_background video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(120%);
        opacity: 50%;
    }

    #page01 {
        height: calc(100vh - 200px);
        width: 100%;
        display: flex;
        padding-bottom: 100px;
    }

    #page01_text {
        align-self: center;
        margin-left: auto;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 0 5px);
    }

    #page01_text h1 {
        line-height: 200%;
        text-align: right;
        font-family: 'Mont';
        font-weight: lighter;
    }
    
    #page01_text p {
        max-width: 500px;
        text-align: right;
        margin-top: 20px;
        font-size: 20px;
    }

    #page01_text button {
        font-family: 'Oswald';
        font-size: 20px;
        border-radius: 20px;
        padding: 5px 20px 5px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #5865F2;
        color: #fff;
        cursor: pointer;
        transition: 0.2s;
    }

    #page01_text button:active {
        transform: translateY(3px);
    }
    
    #page01_iframe {
        margin-right: auto;
        margin-left: 40px;
        align-self: center;
    }

    #page01_iframe iframe {
        width: 35vw;
        height: 19.69vw;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
    }

/* SCREEN WIDTH < 1200px */

@media only screen and (max-width: 1200px) {

    #page01 {
        flex-direction: column;
        padding-bottom: 0;
    }

    #page01_text {
        margin-left: unset;
        margin-top: auto;
        align-items: center;
    }

    #page01_text p {
        text-align: center;
        max-width: calc(100vw - 200px);
    }

    #page01_text h1 {
        text-align: center;
        visibility: hidden;
    }

    #page01_iframe {
        margin: 80px 0 auto 0;
    }

    #page01_iframe iframe {
        width: 55vw;
        height: 30.94vw;
    }

}